<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mobile prices</title>
</head>
<body>
    <div class="login">
        <p> Get the price </p>
        <form action="{{url_for('predict')}}" method="post">
            <button type="submit" class=" btn-primary-btn-block btn-large "> The price</button>
            <input type="text" name="CPU" placeholder=" processror" required="required">
            <input type="text" name="memory" placeholder=" memory" required="required">
            <input type="text" name="Battery" placeholder=" Battery" required="required">

        </form>
        <br>
        <br>
        <br>
        <b>price</b>
    </div>
    
</body>
</html>